.bird-holder {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    background-color: #303030;
    padding: 15px;
    flex-wrap: wrap;
}
.bird-image {
    width: 200px;
    height: 155px;
    border-radius: 10px;
    display: block;
}
.bird-holder h3{
    color: #fff;
    margin-left: 5px;
}
.bird-holder hr {
    border-color: #555555;
}
.bird-options {
    width: 75%;
    margin: 5px 30px 0 0;
}
.bird-options .audio-player {
    background-color: #303030;
    box-shadow: none;
}
.bird-options .audio-player .rhap_main-controls {
    margin-left: 23px;
}

@media (max-width: 1200px){
    .bird-options {
        width: 70%;
    }
}
@media (max-width: 992px) {
    .bird-options {
        width: 60%;
    }
}
@media (max-width: 768px) {
    .bird-options {
        width: 55%;
        margin-right: 5px;
    }
}
@media (max-width: 590px) {
    .bird-options {
        width: 100%;
        text-align: center;
    }
    .bird-holder {
        justify-content: center;
    }
    .bird-name {
        margin-top: 10px;
    }
}