.bird-details {
    color: #fff;
    width: 100%;
    height: 100%;
    border: #555555 solid 1px;
}
.guide span {
    display: block;
}
.guide {
    display: block;
}

.card {
    background-color: #303030;
    padding: 15px 0 10px 15px;
}
.list-group-item {
    background-color: #303030;
    border: 1px solid #555;
    padding: 5px ;
    cursor: auto;
}
.card-body .list-group .list-group-item {
    padding: 4px !important;
}
.card-body{
    padding: 0;
    display: flex;
    flex-direction: row;
}
.bird-img {
    width: 200px;
    height: 155px;
    border-radius: 10px;
    display: block;
}
.list-group-item:hover {
    background-color: #303030;
}
.card .audio-player-detail {
    background-color: #303030;
    box-shadow: none;
    width: 100%;
    padding: 10px 0 0 0 ;
}
.card-body .list-group {
    width: 55%;
    margin-left: 25px;
    margin-right: 15px;
}
.list-group-item h4 {
    margin-bottom: 5px;
}
.audio-player-detail .rhap_controls-section {
    justify-content: space-between;
}
.rhap_additional-controls {
    display: none;
}
.audio-player-detail .rhap_volume-controls {
    justify-content: flex-end;
}
.rhap_main-controls {
    margin-left: 20px;
}
.bird-description {
    padding-right: 5px;
}

@media (max-width: 768px) {
    .col-md-6 {
        margin: 45px 0 0 0;
    }
}
@media (max-width: 1200px) {
    .card-body {
        flex-direction: column;
    }
    .card-body img {
        margin: 0 50px 0 45px;
    }
    .card-body .list-group {
        margin-left: 0;
        width: 90%;
    }
}
